<nav>
    <div class="container-fluid">
        <div class="d-flex flex-wrap align-items-center justify-content-between">
            <div class="col-lg col-12 pb-0 text-lg-left text-center">
                <a href="/" class="logo"><h1>Logo</h1></a>
            </div><!-- end col -->

            <div class="col-lg col-12 pb-0 text-lg-right text-center">
                <a href="/" class="btn">Home</a>
                <a href="/about/" class="btn">About</a>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</nav>

